SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_KEYPAIR_PATH=~/.config/solana/id.json
PAYQ_PROGRAM_ID=mfn7v3f9qfyGMXeFFGzzqRWCfykPt6DCc9rxyWqd8bu
PAYQ_VAULT_PUBKEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
RUST_LOG=info
