SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_KEYPAIR_PATH=~/.config/solana/id.json
NYXBID_PROGRAM_ID=E9sMPu6uUJTfe72ePWr8BNjEKejUnMqsdFV6rGtsHiX2
NYXBID_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
RUST_LOG=info
